:root.theme-light {
  --bg-img: url(../images/cover-image-light.png);
  --bg-color: #fff1f7;
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --text-color: #353430;
  --outline-color: black;
  --head-color: var(--text-color);
  --title-sec-color: #353430;
  --header-menu-button-color: var(--text-color);
  --header-menu-button-hover-border: rgba(53, 52, 48, 0.4);
  --focus-visible-border: var(--text-color);
  --decor-color:var(--text-color);
}

:root.theme-light .label {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root.theme-auto {
    --bg-img: url(../images/cover-image-light.png);
    --bg-color: #fff1f7;
    --accent-color: #ff8dcb;
    --title-color: #ffc2e6;
    --text-color: #353430;
    --outline-color: black;
    --head-color: var(--text-color);
    --title-sec-color: #353430;
    --header-menu-button-color: var(--text-color);
    --header-menu-button-hover-border: rgba(53, 52, 48, 0.4);
    --focus-visible-border: var(--text-color);
    --decor-color:var(--text-color);
  }
  :root.theme-auto .label {
    display: none;
  }
}
