.label {
  display: none;
}

:root.theme-light {
  --bg-img: url(../images/cover-image-light.png);
  --bg-color: #000028;
  --accent-color:#FF8DCB;
  --title-color:#FFC2E6;
  --text-color: #353430;
  --outline-color:black;
}
