/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--bg-img);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, minmax(50%, 1fr));
  grid-template-rows: repeat(3, 1fr);
  height: 100vh;
  min-height: 668px;
}

.header__theme-menu {
  grid-column: 2;
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 10px;
}

.header__theme-menu-button {
  border: none;
  color: var(--accent-color);
  font-family: "IBM Plex mono";
  font-weight: normal;
  font-size: 18px;
  font-style: normal;
  line-height: 100%;
  text-align: center;
  text-transform: lowercase;
  background-color: transparent;
}

.label {
  position: absolute;
  top: 10px;
  right: 19px;
  display: flex;
  align-items: center;
  color: var(--accent-color);
  font-family: "IBM Plex mono", monospace;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 139%;
}

.label::after {
  content: "";
  width: 9px;
  height: 9px;
  margin-left: 10px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background: var(--accent-color);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-width: 1px 1px 0px 0px;
  border-style: solid;
  border-color: var(--accent-color);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-width: 0 0 1px 1px;
  border-style: solid;
  border-color: var(--accent-color);
}

.title {
  color: var(--title-color);
  font-family: "IBM Plex mono", monospace;
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.description {
  grid-column: 1/-1;
  grid-row: 3;
  justify-self: center;
  width: 355px;
  height: 95px;
  font-family: "IBM Plex mono", monospace;
  font-weight: bold;
  font-size: 18px;
  font-style: normal;
  line-height: 130%;
}

.title-decor {
  color: #000028;
  background-color: var(--accent-color);
}

.main {
  width: 100%;
  background-color: var(--bg-color);
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 355px;
  margin: 0 auto;
  margin-top: 40px;
  color: var(--text-color);
  font-family: "IBM Plex mono", monospace;
  font-size: 18px;
  font-style: normal;
  line-height: 130%;
  background-color: var(--bg-color);
}

.head {
  color: var(--accent-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 130%;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title_sec {
  font-weight: bold;
  font-size: 18px;
  line-height: 130%;
}

.accent_title {
  font-weight: bold;
  font-size: 18px;
  line-height: 130%;
}

.focus__title {
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--outline-color);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.title_gallery {
  font-family: "IBM Plex mono";
  font-weight: bold;
  font-size: 18px;
  font-style: normal;
  line-height: 130%;
}

.gallery__image {
  display: block;
  width: 100%;
  height: auto;
  height: 100%;
  object-fit: cover;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 668px;
}

.footer_title {
  text-shadow: 2px 2px 0px var(--accent-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.4);
}

@media (width>=768px) {
  .title {
    grid-column: 1/-1;
  }

  .description {
    grid-column: 2;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    min-width: 768px;
    margin: initial;
    margin: 80px auto 0;
    margin-top: 80px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .card {
    grid-column: 2;
    justify-self: end;
  }

  .concentration__card {
    grid-column: 1/-1;
    justify-self: center;
  }

  .accent_title {
    height: min-content;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content repeat(3, 1fr);
  }

  .title_gallery {
    grid-column: 1/4;
    height: min-content;
  }

  .sunset {
    grid-column: 1/3;
  }

  .ice {
    grid-column: 3;
    grid-row: 2 / 4;
  }

  .tape {
    grid-row: 3/5;
  }

  .street {
    grid-column: 2/4;
  }
}

@media (width>=1024px) {
  .header__theme-menu {
    grid-column: 1/-1;
    justify-self: center;
    align-self: start;
    padding-top: 20px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
  }

  .description {
    width: 491px;
  }

  .concentration {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content 1fr;
  }

  .concentration__card {
    grid-column: auto;
    grid-row: 2;
  }
}
