/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--bg-color);
  background-image: var(--bg-img);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, minmax(50%, 1fr));
  grid-template-rows: repeat(3, 1fr);
  height: 100vh;
  min-height: 668px;
}

.header__theme-menu {
  grid-column: 2;
  justify-self: end;
  align-self: center;

}

.header__theme-menu-list{
  display: flex;
  flex-direction: column;
  padding-right: 10px ;
  gap:10px;
}

.header__theme-menu-button {
  font-family: 'IBM Plex mono';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: var(--accent-color);
  background-color: transparent;
  text-transform: lowercase;
  border: none;
}

.header__theme-menu-item:last-child .header__theme-menu-button {
  border: 1px solid var(--accent-color);

}

.label {
  position: absolute;
  display: flex ;
  align-items: center ;
  top: 10px;
  right: 19px;
  color: #FF0070;
  font-family: 'IBM Plex mono', monospace;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 139%;
}

.label::after {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px #FF0070;
  background: #FF0070;
  margin-left: 10px ;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  border-width: 1px 1px 0px 0px;
  border-style: solid;
  border-color: #FF0070;
  width: 25px;
  height: 25px;
  right: 10px;
  top: 10px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  border-width: 0 0 1px 1px;
  border-style: solid;
  border-color: #FF0070;
  width: 25px;
  height: 25px;
  bottom: 10px;
  left: 10px;
}

.title {
  font-family: 'IBM Plex mono', monospace;
  font-weight: bold;
  font-size: 116px;
  line-height: 82.5%;
  color: #DB00FF;
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

.description {
  grid-row:3;
  font-family: 'IBM Plex mono', monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 130%;
  color: #000028;
  height: 117px;
  width: 355px;
  grid-column: 1/-1;
  justify-self: center;
  
}

.title-decor {
  background-color: var(--accent-color);
}